<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>6/24 《競標結果》下午場大統益豆粉成標價13.84。《副料參考價》大成全脂16.55。脫殼全脂16.98（3/2後提貨）。 </string>
	<string>6/24《遠期競標登記》雙港散裝玉米5月@7.5 ，提貨依到港狀況為準，成標依實際開標結果。</string>
	<string>6/24 《遠期競標登記》4下大統益豆粉登記價13.99，大統益高蛋白登記價15.2，成標依實際開標結果為主。</string>
	<string>6/24 《競標結果》第二場大統益豆粉成標價14。大統益高蛋白成標價15.2。</string>
	<string>6/24 《競標登記》雙港巴西玉米@7.4，大統益豆粉14，高蛋白15.2，成標價依實際開標結果。</string>
</array>
</plist>
